@page "/roles"
@inherits RolesDataModel

<h1>Roles</h1>

<p>All roles registered in the Globe System.</p>

<div class="row">
    <AuthorizeView Roles="Admin">
        <div class="col-md-4">
            <a href='/role/add' class="btn btn-primary" role="button"><i class="fa fa-user-plus"></i> Add Role</a>
        </div>
    </AuthorizeView>
    <div class="input-group col-md-4 offset-md-4">
        <input type="text" class="form-control" placeholder="Search roles by name" @bind="SearchString" />
        <div class="input-group-append">
            <button class="btn btn-info" @onclick="SearchRoles">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>
<br />

@if (roles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <AuthorizeView Roles="Admin">
                    <th></th>
                    <th></th>
                </AuthorizeView>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in roles)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>@role.Description</td>
                    <AuthorizeView Roles="Admin">
                        <td>
                            <a href='/role/edit/@role.Id' class="btn btn-outline-dark" role="button">
                                <i class="fa fa-pencil-square-o"></i>
                                Edit
                            </a>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteRoleModal" @onclick="@(() => DeleteRoleConfirm(role))">
                                <i class="oi oi-trash"></i>
                                Delete
                            </button>
                        </td>
                    </AuthorizeView>
                </tr>
            }
        </tbody>
    </table>

    @if (ShowConfirmation)
    {
        <div class="modal-open">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Warning</h4>
                        <button type="button" class="close" @onclick="(() => ShowConfirmation = false)">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Are you sure to delete the selected role?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button class="btn btn-danger" @onclick="(() => DeleteRole(selectedRole))">Yes</button>
                        <button class="btn btn-dark" @onclick="(() => ShowConfirmation = false)">No</button>
                    </div>

                </div>
            </div>
        </div>
    }
}
