<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--endpoints for local machine-->
    <!--<add key="LoginBaseAddress" value="https://localhost:44317/api/"/>-->
    <!--<add key="LocalizableStringBaseAddress" value="https://localhost:44360/api/" />-->
    <!--endpoints for docker-->
    <add key="LoginBaseAddress" value="https://192.168.99.100:8005/api/" />
    <add key="LocalizableStringBaseAddress" value="https://192.168.99.100:7005/api/" />
  </appSettings>
</configuration>