@page "/user/changepassword"
@inherits ChangePasswordDataModel


<h1>Change Password</h1>
<hr />

@if (ShowErrors)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in Errors)
        {
            <p>@error</p>
        }
    </div>
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please enter your details</h5>
        <EditForm Model="registration" OnValidSubmit="HandleRegistration">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group row">
                <label for="currentPassword">Current Password</label>
                <InputText Id="currentPassword" type="password" class="form-control" @bind-Value="registration.Password" />
                <ValidationMessage For="@(() => registration.Password)" />
            </div>
            <div class="form-group row">
                <label for="newPassword">New Password</label>
                <InputText Id="newPassword" type="password" class="form-control" @bind-Value="registration.NewPassword" />
                <ValidationMessage For="@(() => registration.NewPassword)" />
            </div>
            <div class="form-group row">
                <label for="confirmPassword">Confirm Password</label>
                <InputText Id="confirmPassword" type="password" class="form-control" @bind-Value="registration.ConfirmPassword" />
                <ValidationMessage For="@(() => registration.ConfirmPassword)" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Change Password</button>
                <button class="btn btn-light" @onclick="Cancel">Cancel</button>
            </div>
        </EditForm>
    </div>
</div>