@page "/user/login"
@inherits LoginUserDataModel


<h1>Login User</h1>
<hr />

@if (ShowErrors)
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please enter your details</h5>
        <EditForm Model="login" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="email">Email address</label>
                <InputText Id="email" Class="form-control" @bind-Value="login.Email" />
                <ValidationMessage For="@(() => login.Email)" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText Id="password" type="password" Class="form-control" @bind-Value="login.Password" />
                <ValidationMessage For="@(() => login.Password)" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
                <button class="btn btn-light" @onclick="Cancel">Cancel</button>
            </div>
        </EditForm>
    </div>
</div>
